@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=fallback");

:root {
  /* COLORS */
  --primary-color: hsl(157deg 74% 62%);
  --primary-color-hover: hsl(157deg 100% 85%);
  --secondary-dark: hsl(225deg 26% 23%);
  --secondary-light: hsl(225deg 21% 45%);
  --black: hsl(224deg 35% 11%);
  --gray: hsl(225deg 40% 83%);
  --white: hsl(0deg 0% 100%);
  --error: hsl(0deg 96% 61%);
  --border-radius: 28px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--black);
}

h1 {
  font-size: 5.2rem;
  line-height: 62px;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-size: 1.8rem;
  line-height: 28px;
  font-weight: 300;
  color: var(--gray);
}

input,
button {
  font: inherit;
  font-size: 1.4rem;
}

button {
  color: var(--black);
  font-weight: 700;
  background: var(--primary-color);
  padding: 9px 27px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: var(--primary-color-hover);
}

input {
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  padding: 20px 32px;
  background: var(--secondary-dark);
  color: var(--white);
  font-weight: 700;
}

input::placeholder {
  color: var(--secondary-light);
  font-weight: 700;
}

main {
  --padding-vertical: 130px;
  max-width: 1700px;
  min-height: calc(640px + var(--padding-vertical) * 2);
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--padding-vertical);
  padding-left: 165px;
  position: relative;
  background-image: url(assets/desktop/image-host.jpg);
  background-repeat: no-repeat;
  background-position: right top var(--padding-vertical);
  background-size: auto calc(100% - var(--padding-vertical) * 2);
}

.logo {
  transform: translateY(-50%);
}

.main-content {
  margin-top: auto;
  max-width: 760px;
  padding-top: 88px;
  padding-right: 58px;
  background: var(--black);
}

.primary-heading {
  color: var(--primary-color);
  margin-bottom: 24px;
}

.primary-heading span {
  color: var(--white);
}

.main-description {
  max-width: 445px;
  margin-bottom: 40px;
}

.main-form {
  max-width: 430px;
  margin-bottom: 60px;
  position: relative;
}

.main-form input {
  width: 100%;
  padding-right: 170px;
}

#error {
  color: var(--error);
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  bottom: -22px;
  left: 32px;
}

.main-form button {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
}

.logos {
  display: flex;
  align-items: center;
  opacity: 0.6;
  gap: 40px;
}

.pattern {
  position: absolute;
  bottom: var(--padding-vertical);
  right: 0;
  transform: translateY(50%);
}

/* MEDIA QUERIES */
/* Tablet */
@media (max-width: 1100px) {
  h1 {
    font-size: 4.8rem;
  }

  main {
    --padding-vertical: 0;
    max-width: 768px;
    margin: auto;
    padding-left: 40px;
    padding-top: 50px;
    background-image: url(assets/tablet/image-host.jpg);
    background-position: right top;
    justify-content: space-between;
  }

  .main-content {
    max-width: 635px;
    padding-top: 92px;
    padding-right: 0;
    margin-top: revert;
  }

  .logo {
    transform: revert;
  }

  .pattern {
    position: relative;
    transform: none;
    z-index: -1;
  }
}

/* Mobile */
@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 4.6rem;
    line-height: 1.4;
  }

  main {
    justify-content: center;
    padding: 62px 24px 94px;
    background-image: linear-gradient(
        hsl(224deg 35% 11% / 0.9),
        hsl(224deg 35% 11% / 0.9)
      ),
      url(assets/mobile/image-host.jpg);
    background-size: cover;
  }

  .logo,
  .main-description {
    margin-left: auto;
    margin-right: auto;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    background: none;
    text-align: center;
  }

  .main-description {
    max-width: 425px;
    margin-bottom: 32px;
  }

  .main-form {
    order: 4;
    margin-bottom: 0;
  }

  .main-form input {
    width: 100%;
    padding-right: 0;
  }

  .main-form button {
    position: revert;
    width: 100%;
    margin-top: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .pattern {
    display: none;
  }

  .logos {
    gap: revert;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
